<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
          esse
          quasi, veritatis totam voluptas nostrum.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4"> Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <fa-icon [icon]="homeIcon" class="footer__icon"></fa-icon> New York, NY 10012, US
            </p>
          </li>
          <li>
            <p>
              <fa-icon [icon]="emailIcon" class="footer__icon"></fa-icon> info@example.com
            </p>
          </li>
          <li>
            <p>
              <fa-icon [icon]="phoneIcon" class="footer__icon"></fa-icon> + 01 234 567 88
            </p>
          </li>
          <li>
            <p>
              <fa-icon [icon]="phoneIcon" class="footer__icon"></fa-icon> + 01 234 567 89
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <!-- <a type="button" class="btn-floating btn-fb"> -->
        <!-- <i class="fab fa-facebook-f"></i> -->
        <!-- <img src="../../../assets/img/facebook-square-brands.svg" > -->
        <div>
          <svg _ngcontent-mfy-c3="" aria-hidden="true" class="svg-inline--fa fa-facebook-square fa-w-14"
            data-icon="facebook-square" data-prefix="fab" focusable="false" role="img" viewBox="0 0 448 512"
            xmlns="http://www.w3.org/2000/svg" style="width: 50px;height: 50px; cursor: pointer;">
            <path _ngcontent-mfy-c3=""
              d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z"
              fill="currentColor"></path>
          </svg>
        </div>
        <!-- <img src="../../../assets/img/facebook-square-brands.svg" > -->

        <!-- <a type="button" class="btn-floating btn-tw">
          <i class="fab fa-twitter"></i>
        </a>

        <a type="button" class="btn-floating btn-gplus">
          <i class="fab fa-google-plus-g"></i>
        </a>

        <a type="button" class="btn-floating btn-dribbble">
          <i class="fab fa-dribbble"></i>
        </a> -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> SRCA Acadmey</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
