  <nav>
    <ul class="nav__top-nav" id="navDropdownClick">
      <li class="nav__leftmost-element"><a><img src="../../../assets/img/srca_logo.jpg"></a></li>
      <li class="nav__text-style"><a>Service</a></li>
      <li class="nav__text-style"><a>Contact Us</a></li>
      <li class="nav__text-style"><a>Blog & News</a></li>
      <li class="nav__text-style"><a>About Us</a></li>
      <li class="nav__text-style nav__top-right nav__rightmost-element"><a>Sign Up</a></li>
      <li class="nav__text-style nav__top-right"><a>Sign In</a></li>
      <li class="nav__dropdown-icon"><a (click)="dropdownMenu()">&#9776;</a></li>
    </ul>
  </nav>
