nav {
  width: 100%;
  margin: 0px;
  display: block;
  line-height: 2.5;
}

nav ul {
  background-color: #f8f8f8;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

ul.nav__top-nav li {
  list-style: none;
  float: left;
}

ul li.nav__text-style {
  padding-top: 20px;
}

ul li.nav__top-right.nav__rightmost-element {
  margin-right: 30px;
}

ul li.nav__leftmost-element {
  margin-left: 30px;
}

ul.nav__top-nav li.nav__top-right {
  float: right;
}

ul.nav__top-nav li a img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
ul.nav__top-nav li a {
  display: block;
  text-decoration: none;
  min-height: 25px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;
}

ul.nav__top-nav li a:hover {
  /* background-color: #c0c0c0; */
  cursor: pointer;
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

ul.nav__top-nav li.nav__dropdown-icon {
  display: none;
}

/*#####################Mobile#############################*/
@media screen and (max-width: 800px) {
  nav {
    line-height: 2.5;
  }

  ul.nav__top-nav li:not(:nth-child(1)) {
    display: none;
  }

  ul.nav__top-nav li.nav__dropdown-icon {
    display: block;
    float: right;
    padding: 15px 20px;
  }

  ul.nav__top-nav li a {
    padding: 10px 10px;
  }
  ul.nav__top-nav li a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }


  ul li.nav__top-right.nav__rightmost-element {
    margin-right: 0px;
  }

  ul.nav__top-nav.responsive li.nav__dropdown-icon {
    position: absolute;
    top: 0;
    right: 0;
  }
  ul.nav__top-nav.responsive {
    position: relative;
  }

  ul.nav__top-nav.responsive li {
    display: inline;
    float: none;
  }

  ul.nav__top-nav.responsive li a {
    display: block;
    /* text-align: left; */
  }
}

@media screen and (max-width: 680px) {



  ul.nav__top-nav li a img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
  }
}
