div.home__container {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

div.home__row-container {
  padding: 40px 100px 10px 100px;
}

div.row {
  padding: 0;
  margin: 0;
  width: 100%;
}

div.home__col-style {
  padding: 0;
  margin: 0;
}

h1.home__src-intro-font-style {
  line-height: 1.5em;
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 200;
}

i.home__src-intro-highlight {
  font-weight: 500;
  padding: 2px 6px 2px;
  font-style: normal;
  border-radius: 3px;
  background-color: yellow;
  color: green;
}

p.home__srca-intro-p {
  padding-top: 10px;
  letter-spacing: 1.2px;
  line-height: 1.8;
}

div.home__img-style {
  box-shadow: 1px 2px 18px 3px rgba(0, 0, 0, 0.75);
  border-radius: 1% !important;
  height: 365.53px;
  width: 650px;
  /* margin: auto; */
  float: right;
}

.home__dot-size {
  font-size: 60px;
}

div img.home_srca-img {
  height: 365.53px;
  width: 650px;
  border-radius: 1%;
}

div.home__btn-container {
  text-align: center;
  margin: 20px;
}

div button.home__locate-btn {
  padding: 7px 70px;
}

/* label.home__srca-quote-label {
  font-family: Georgia, serif;
  font-size: 30px;
  letter-spacing: 0px;
  word-spacing: 2px;
  color: #666666;
  font-weight: 500;
  -webkit-text-decoration: none solid rgb(68, 68, 68);
  text-decoration: none solid rgb(68, 68, 68);
  font-style: oblique;
  font-variant: petite-caps;
  text-transform: none;
} */

/* ##########################Mobile###################################### */
@media screen and (max-width: 1375px) {
  div.home__row-container {
    padding: 40px 50px;
  }

  i.home__src-intro-highlight {
    font-weight: 500;
    padding: 2px 6px 2px;
  }
}

@media screen and (max-width: 1270px) {
  div.home__img-style {
    box-shadow: 1px 2px 18px 3px rgba(0, 0, 0, 0.75);
    border-radius: 1% !important;
    height: 337.5px;
    width: 600px;
    float: none;
  }

  div img.home_srca-img {
    height: 365.53px;
    width: 650px;
    border-radius: 1%;
  }
}

@media screen and (max-width: 1200px) {
  div.home__row-container {
    width: 100%;
    padding: 20px 100px 10px 100px;
  }

  div.home__responsive-row {
    padding: 0;
    display: block;
  }

  div.home__responsive-col {
    display: block;
    max-width: 100%;
    flex: 100%;
    margin-bottom: 55px;
  }

  div.home__responsive-col .row h1 {
    margin: auto;
    font-weight: 400;
  }

  div.home__responsive-col .row p {
    padding-top: 20px;
    margin: auto;
    letter-spacing: 1.2px;
    line-height: 1.8;
  }

  div.home__img-style {
    box-shadow: 1px 2px 18px 3px rgba(0, 0, 0, 0.75);
    border-radius: 1% !important;
    height: 385.71px;
    width: 900px;
    margin: auto;
    float: none;
  }

  div img.home_srca-img {
    height: 385.71px;
    width: 900px;
    border-radius: 1%;
  }
}

@media screen and (max-width: 1024px) {
  div.home__row-container {
    width: 100%;
    padding: 20px 20px 10px 20px;
  }
}

@media screen and (max-width: 925px) {
  div.home__responsive-col .row h1 {
    margin: auto;
    font-weight: 500;
  }

  h1.home__src-intro-font-style {
    line-height: 1.5em;
    font-size: 20px;
  }

  .home__dot-size {
    font-size: 20px;
  }

  p.home__srca-intro-p {
    font-size: 12px;
    padding: 36px 50px 0px 50px;
  }

  div.home__img-style {
    box-shadow: 1px 2px 18px 3px rgba(0, 0, 0, 0.75);
    border-radius: 1% !important;
    height: 337.5px;
    width: 600px;
    float: none;
  }

  div img.home_srca-img {
    height: 337.5px;
    width: 600px;
    border-radius: 1%;
  }
}

@media screen and (max-width: 680px) {
  div.home__responsive-col .row h1 {
    margin: auto;
    font-weight: 500;
  }

  h1.home__src-intro-font-style {
    line-height: 1.5em;
    font-size: 20px;
  }

  .home__dot-size {
    font-size: 20px;
  }

  p.home__srca-intro-p {
    font-size: 12px;
    padding: 36px 50px 0px 50px;
  }

  div.home__img-style {
    box-shadow: 1px 2px 18px 3px rgba(0, 0, 0, 0.75);
    border-radius: 1% !important;
    height: 253.13px;
    width: 400px;
    float: none;
  }

  div img.home_srca-img {
    height: 253.13px;
    width: 450px;
    border-radius: 1%;
  }

  div button.home__locate-btn {
    padding: 5px 50px;
  }
}

@media screen and (max-width: 480px) {
  div.home__img-style {
    box-shadow: 1px 2px 18px 3px rgba(0, 0, 0, 0.75);
    border-radius: 1% !important;
    height: 196.88px;
    width: 350px;
    float: none;
  }

  div img.home_srca-img {
    height: 196.88px;
    width: 350px;
    border-radius: 1%;
  }
}

@media screen and (max-width: 375px) {
  div.home__responsive-col .row h1 {
    margin: auto;
    font-weight: 500;
  }

  h1.home__src-intro-font-style {
    line-height: 1.5em;
    font-size: 16px;
  }

  .home__dot-size {
    font-size: 20px;
  }

  p.home__srca-intro-p {
    font-size: 12px;
    padding: 36px 20px 0px 20px;
  }

  div.home__img-style {
    box-shadow: 1px 2px 18px 3px rgba(0, 0, 0, 0.75);
    border-radius: 1% !important;
    height: 157.5px;
    width: 280px;
    float: none;
    margin: auto;
  }

  div img.home_srca-img {
    height: 157.5px;
    width: 280px;
    border-radius: 1%;
  }
}
